@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
}
.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: brown;
}

.divs_container {
  height: auto;
  width: 100%;
  background-color: blue;
}

h1 {
  text-align: center;
}
.hide {
  display: none;
}
